<div class="centered-content">
  <h1>Editing Task</h1>

  <div class="form-container">
    <%= render 'form', task: @task %>
  </div>
  
  <div class="action-buttons">
    <%= link_to 'Show Task', @task, class: 'button' %> 
    <%= link_to 'Back to Tasks', tasks_path, class: 'button' %>
  </div>
</div>
